@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  margin: 0;
  background-image: url(../public/images/hero.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  display: flex;
}

:root {
  --marrs-green: rgb(0, 140, 140)
}